<%- include('common/header', { title: title, user: locals.user }); -%>
<main>
  <% if (locals.items && locals.items.length > 0) { %>
    <section>
      <h2>Список обʼєктів</h2>
      <ul>
        <% items.forEach(item => { %>
          <li><%= JSON.stringify(item) %></li>
        <% }); %>
      </ul>
    </section>
  <% } %>
</main>
<%- include('common/footer'); -%>
