<%- include('common/header', { title: title }); -%>
<main>
  <section>  
    <h1><%= title %></h1>
    <p>
      <a href="/login">Логін</a>
    </p>
    <p>
      <a href="/signup">Реєстрація</a>
    </p>
  </section>
</main>
<%- include('common/footer'); -%>
